@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}

.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-toast {
  background-color: #F2F2F2; /* lightGray */
  color: #373737; /* darkGray */
  border-left: 5px solid #7765DA; /* primaryPurple */
}

.custom-toast-body {
  font-family: 'Inter', sans-serif;
}